name: npm package release
run-name: "Npm package release( ${{github.event.inputs.pkg_name}} ${{github.event.inputs.pkg_version}})"
on:
  workflow_dispatch:
    inputs:
      x-cmd-pkg-version:
          description: 'x-cmd pkg version'
          required: true
          default: 'v0.0.7'
      pkg_name:
          description: 'pkg_name'
          required: true
      pkg_version:
          description: 'pkg_version'
          required: true

jobs:
  Bundle:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      ___X_CMD_PKG___BRANCH: ${{ github.event.inputs.x-cmd-pkg-version }}
      ___X_CMD_PKG___NAME: ${{ github.event.inputs.pkg_name }}
      ___X_CMD_PKG___VERSION: ${{ github.event.inputs.pkg_version }}
      ___X_CMD_GHACTION_X: x1
      WEBHOOK_URL: ${{ secrets.ROBOT }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
      # git_user: agent-zero
      # git_email: 0@x-cmd.com
      NPM_TOKEN: ${{ secrets.NPM_TOKEN_MNNNA }}
      ssh_key: ${{ secrets.SSH_PRIVATE_KEY_MNNNA }}
      git_user: mnnna
      git_email: zhengyuhang@x-cmd.com
      CONCURRENCY: 10
    steps:
      - name: main
        uses: x-cmd/action@main
        with:
          code: |
            x ws npm_release || return

